---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- 
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

# Independent Instructor:
ECON 300: Intermediate Microeconomics, University of Washington, Winter 2019 – Fall 2019, Spring 2020 – Fall 2020
ECON 200: Introduction to Microeconomics, University of Washington, Fall 2017 – Fall 2018

# Teaching Assistant
SOC 225: Data and Society, University of Washington, Spring 2021 - Fall 2021
ECON 300: Intermediate Microeconomics, University of Washington, Winter 2020
STAT 311: Elements of Statistical Methods, University of Washington, Spring 2016
ECON 200: Introduction to Microeconomics, University of Washington, Fall 2015
ECON 1220: Contemporary Economic Thinking, Chinese University of Hong Kong, Spring 2015
ECON 3480: Industrial Organization, Chinese University of Hong Kong, Fall 2014
ECON 4020: Advanced Macroeconomics, Chinese University of Hong Kong, Spring 2014
GLEF 3010: International Monetary Economics, Chinese University of Hong Kong, Fall 2013
